.root {
  --boardBgColor: #2d6946;
}

body {
  background-image: url("./assets/bg.jpg");
  font-family: "Kalam", cursive;
}

h1 {
  font-size: 60px;
}

.container {
  background-color: var(--bgColor);
  width: 1000px;
  height: 100vh;
}

.board-square {
  width: 50px;
  height: 50px;
}

.solid-black {
  border: 1px solid black;
}
.solid-black-2 {
  border: 2px solid black;
}

#game {
  background-color: #2d6946;
  border: 20px solid black;
}

#seed {
  height: 38px;
  width: 38px;
  border-radius: 20px;
}

#new-game-menu {
  width: 1100px;
  height: 600px;
  position: absolute;
  margin: auto auto auto -80px;
  background-color: #fff8e8;
  display: none;
}

#close-game-menu {
  height: 50px;
  width: 70px;
}

.black-seed {
  background-color: black;
}

.white-seed {
  background-color: white;
}
