.root {
  --boardBgColor: #2d6946;
}

body {
  background-image: url("./assets/bg.jpg");
  font-family: "Kalam", cursive;
  font-size: 18px;
}

h1 {
  font-size: 60px;
}

.container {
  background-color: var(--bgColor);
  width: 1000px;
  height: 100vh;
}

.board-square {
  width: 50px;
  height: 50px;
}

.solid-black {
  border: 1px solid black;
}
.solid-black-2 {
  border: 2px solid black;
}

#game {
  background-color: #2d6946;
  border: 20px solid black;
}

#seed {
  height: 38px;
  width: 38px;
  border-radius: 20px;
}

.black-seed {
  background-color: black;
}

.white-seed {
  background-color: white;
}

#landing-page {
  margin: 0px 200px;
}

/* Dialogs */
dialog {
  max-width: 60vw;
  background-color: #fff8e8;
  /* display: flex; */
  /* justify-items: center; */
}

#rules-dialog {
  flex-direction: column;
}

#close-rules-dialog {
  align-self: center;
}
