body {
  background-image: url("./assets/bg.jpg");
  font-family: "Kalam", cursive;
  font-size: 24px;
}

h1 {
  font-size: 60px;
}

.board-square {
  width: 50px;
  height: 50px;
  background-color: #2d6946;
}

.solid-black-2 {
  border: 2px solid black;
}

#landing-page {
  margin: 0 0 0 18vw;
}

#game {
  background-color: black;
  border: 20px solid black;
  width: 400px;
}

#seed {
  height: 38px;
  width: 38px;
  border-radius: 20px;
  margin: 5px auto auto 5px;
}

.black-seed {
  background-color: black;
}

.white-seed {
  background-color: white;
}

#reversi-img {
  width: 800px;
}

/* Dialogs */
dialog {
  max-width: 80vw;
  background-color: #fff8e8;
  font-size: 20px;
  /* display: flex; */
  /* justify-items: center; */
}

#rules-dialog {
  flex-direction: column;
}

#close-rules-dialog {
  display: block;
  margin: auto;
}

#white-move-msg,
#black-move-msg {
  margin: 10px auto;
  font-size: 24px;
  font-weight: bold;
  color: #7d2b2b;
  text-align: center;
}

#white-seed-counter,
#black-seed-counter {
  background-color: #7d2b2b;
  border-radius: 10px;
  font-size: 32px;
  color: rgb(209, 239, 209);
}

#white-seed-display,
#black-seed-display {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

#white-seed-display {
  background-color: white;
}
#black-seed-display {
  background-color: black;
}

#close-game-dialog,
#restart-game {
  display: block;
  margin: auto;
}

#messagebox-container {
  height: 100px;
}
